<div fxLayout="column " class="mainContent" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"
  fxLayoutAlign.gt-xs="start center">
  <div fxLayout="column " style="width:100%;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true"
    [fxHide]="false" ngStyle.gt-xs="width:80%" ngStyle.gt-sm="width:60%">
    <div fxLayout="row " class="controlPanel" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false"
      *ngIf="dwtMounted"><button mat-button class="btn btn-outline-info acquire" *ngIf="bWASM"
        (click)="acquire()"></button><button mat-button class="camera" *ngIf="bWASM"
        (click)="openCamera()"></button><button mat-button class="edit" *ngIf="bWASM"
        (click)="showEditor()"></button><button mat-button class="save"
        (click)="openModal(saveModalRef,&apos;save&apos;)"></button></div>
    <div fxLayout="row " fxFlex="70%" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="dwtMounted"
      id="{{containerId}}"></div>
  </div>
  <ng-template #saveModalRef role="dialog" aria-hidden="true" aria-labelledby="saveModalLabel" let-saveModal>
    <div class="modal-header">
      <h5 class="modal-title">{{saveOptions.buttonText}}</h5>
      <button tabindex="-1" type="button" class="close" aria-label="Close"
        (click)="saveModal.dismiss(&apos;Cross click&apos;)">
        <span aria-hidden="true">&#xD7;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="input-group-prepend">
            <label class="input-group-text" style="width: 40%;" for="outPutType">Type:</label>
            <select class="custom-select" style="width: 60%;" id="outPutType"
              (ngModelChange)="outPutTypeChanged($event)" [(ngModel)]="saveOptions.outPutType">
              <option>File</option>
              <option>Blob</option>
              <option>Base64</option>
            </select>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group-prepend">
            <label class="input-group-text" style="width: 40%;" for="outPutFormat">Format:</label>
            <select class="custom-select" style="width: 60%;" id="outPutFormat" [(ngModel)]="saveOptions.outPutFormat"
              (ngModelChange)="handleOutPutFormatChange($event)">
              <option>BMP</option>
              <option>JPG</option>
              <option>TIF</option>
              <option>PNG</option>
              <option>PDF</option>
            </select>
          </div>
        </li>
        <li *ngIf="saveOptions.outPutType === &apos;File&apos;" class="list-group-item">
          <div class="input-group-prepend">
            <label class="input-group-text" style="width: 40%;" for="fileName">File Name:</label>
            <input type="text" class="custom-select" style="width: 60%;" id="fileName"
              [(ngModel)]="saveOptions.fileName">
          </div>
        </li>
        <li *ngIf="!bWASM &amp;&amp; saveOptions.outPutType === &apos;File&apos;" class="list-group-item">
          <label class="input-group-text" style="width: 100%;">
            <input type="checkbox" [(ngModel)]="saveOptions.upload" aria-label="Checkbox for upload"
              (ngModelChange)="outPutTypeChanged(&apos;File&apos;)">&#xA0;&#xA0;Upload To
            Server</label>
        </li>
        <li class="list-group-item"
          *ngIf="(saveOptions.outPutFormat === &apos;TIF&apos; || saveOptions.outPutFormat === &apos;PDF&apos;) &amp;&amp; !emptyBuffer">
          <label class="input-group-text" style="width: 100%;">
            <input type="checkbox" [(ngModel)]="saveOptions.multiPage" (ngModelChange)="handleMultiPageCheck()"
              aria-label="Checkbox for multiPage">&#xA0;&#xA0;Multi-Page&#xA0;&#xA0;</label>
        </li>
        <li
          *ngIf="saveOptions.multiPage &amp;&amp; saveOptions.indices.length&gt;0 &amp;&amp; (saveOptions.outPutFormat === &apos;TIF&apos; || saveOptions.outPutFormat === &apos;PDF&apos;)"
          class="list-group-item" style="display:flex; overflow-x: auto; overflow-y: hidden; margin: 0 5%;">
          <label *ngFor="let index of saveOptions.indices" class="input-group-text"
            style="width: 20%; margin-right: 3%;">
            <input type="checkbox" [(ngModel)]="index.selected"
              (ngModelChange)="handleIndexSelection($event,index.number)"
              aria-label="Checkbox for targetIndices">&#xA0;&#xA0;{{index.number+1}}</label>
        </li>
        <li class="list-group-item" style="max-height: 25vh; overflow-y:auto;"
          *ngIf="saveResults.savedFiles.length&gt;0 ||saveResults.uploadedFiles.length&gt;0 ||saveResults.blobURL.length&gt;0||saveResults.base64String.length&gt;0">
          <a *ngFor="let file of saveResults.uploadedFiles; let i = index" class="btn btn-success w-100 mb-2"
            target="_blank" [href]="file.url | safeurl">{{file.name}}</a>
          <button *ngFor="let url of saveResults.blobURL; let i = index" class="btn btn-success w-100 mb-2"
            (click)="copyURLToShow(url)">{{saveResults.blob[i].name}}</button>
          <button *ngFor="let file of saveResults.savedFiles; let i=index" class="btn btn-success w-100 mb-2"
            (click)="copyFilePath(i)">{{saveResults.saveFileText[i]}}</button>
          <button *ngFor="let string of saveResults.base64String; let i = index" class="btn btn-success w-100 mb-2"
            (click)="copyBase64String(i)">{{saveResults.base64ButtonText[i]}}</button>
        </li>
      </ul>
      <div class="alert alert-danger" style="margin:2% 0" role="alert" *ngIf="instantError">{{instantError}}</div>
    </div>
    <div class="modal-footer">
      <button type="button" style="width:80%;" [disabled]="emptyBuffer" class="btn btn-primary"
        (click)="save()">{{saveOptions.buttonText}}</button>
    </div>
  </ng-template>
</div>